#page1background{
	z-index: -1;
	background-color: blue;
  background-image: url("../images/background.jpg");
  background-position: 0 -160px;
  background-size: 100% 140%;
  height: 100vh;
  width: 100%;
	filter: /*blur(1px)*/ /*sepia(70%)*/ grayscale(100%) saturate(250%);
}

/*
div.diagonalstripe {
	z-index: 2;
	position: absolute;
	top: 0;
	right: -50;
	height: 500px;
  width: 400px;
	background-color: black;
  -moz-transform: skew(50deg);
  -webkit-transform: skew(50deg);
  transform: skew(50deg);
}
*/

/*
	due to the nature and position of the background image in the index,
	we need to make the "about" anchor black when against the image, and
	transition it to white when against the floating nav bar
*/

li#black.larger {
	color: black;
	-webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

li#black.smaller {
	color: white;
}

#page2 {
	height: 800px;
	position: relative;
	text-align: center;
	/*clear: both;*/
}

#page2text {
	font-weight: 900;
	font-size: 36pt;
	margin: 0 auto;
  display: table;
  position: relative;
  bottom: 570px;
	font-family: cedarville-cursive;
	width: 75%;
	z-index: 5;
}

#page2background{
	z-index: -1;
  /*background-position: 0 -160px;*/
	display: block;
  background-size: 100% 140%;
  height: 100%;
  width: 100%;
	background-image: url(../images/grunge_hearts.jpg);
	filter: blur(1px) saturate(35%);
}

#page2 h1 {
	margin-top: 0;
}

#page3 {
	height: 800px;
	position: relative;
	text-align: center;
	/* clear: both; */
	/* z-index: 3; */
}

#page3text {
	font-weight: 900;
	font-size: 32pt;
	margin: 0 auto;
  display: table;
  position: relative;
  bottom: 570;
	font-family: la-belle-aurore;
	width: 75%;
	z-index: 5;
	color: black;
}

/* #page3.text {
	font-family: cedarville-cursive;
} */

#page3background{
	z-index: -1;
  /*background-position: 0 -160px;*/
	display: block;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
	background-image: url(../images/grunge_rose.jpg);
	filter: blur(1px) saturate(25%);
}

#page3 h1 {
	margin-top: 0;
}
