<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="styles/index.css"/>
    <script type='text/javascript' src="https://code.jquery.com/jquery.js"></script>
  	<script type='text/javascript' src='scripts/index.js'></script>
  </head>

  <body>
	  <nav class="larger">
      <div id="toolbarShader" class="larger">
        <div id="logo" class="larger">
          <div id="logo-seal" class="larger"></div>
          <div id="logo-text" class="larger">
            <p>The Warden's</p>
            <p>Delight</p>
          </div>
        </div>

        <menu class="larger">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li id="black" class="larger"><a href="/about">About</a></li>
        </menu>
      </nav>
    </div>

    <div id="page1" class="container">
      <!-- <div class="diagonalstripe"></div> -->
  	  <div id="page1background"></div>
  	</div>

    <div id="page2">
      <div class="container">
        <div id="page2background"></div>
      </div>

      <div id="page2text">
        Come sample the cuisine that won the affection of Warden Nathan
        Burl Cain, the 1st &mdash; the finest cooking this side of the Mississippi.
      </div>
    </div>

    <div id="page3">
      <div class="container">
        <div id="page3background"></div>
      </div>

      <div id="page3text">
        There's no cooking like home cooking, and LSP was our home for decades.
        It's there we honed the skills that we're now putting to use to serve
        the community. Come taste our hospitality!
      </div>
    </div>

    <footer>
      <p></p>
      <p></p>
    </footer>
  </body>
</html>
