<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="styles/menu.css"/>
    <script type='text/javascript' src="https://code.jquery.com/jquery.js"></script>
  	<script type='text/javascript' src='scripts/menu.js'></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
  </head>

  <body>
	  <nav class="larger">
      <div id="toolbarShader" class="larger">
        <div id="logo" class="larger">
          <div id="logo-seal" class="larger"></div>
          <div id="logo-text" class="larger">
            <p>The Warden's</p>
            <p>Delight</p>
          </div>
        </div>

        <menu class="larger">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li id="black" class="larger"><a href="./about">About</a></li>
          <li id="black" class="larger"><a href="./login">Login</a></li>
        </menu>
      </nav>
    </div>

    <div id="page1" class="container">
      <!-- <div class="diagonalstripe"></div> -->
  	  <div id="page1background"></div>
  	</div>

    <div id="contentContainer" class="fadeout">
      <!-- <div id="content"> -->
        <p>Scroll down to view our menu</p>
      <!-- </div> -->
    </div>

    <div id="menus">
    <script class="menu-tmpl" type="text/x-handlebars-template">
 <div class="menu-section" id="_menu_id_">
 {{#menus}}
<h2 class="menu-section-title" id="_menu_name_">{{name}}</h2>
{{#items}}
<div class="menu-item" id="{{id}}">
<div class="menu-item-name">{{name}}</div>
<div class="menu-item-price">{{price}}</div>
<div class="menu-item-description">{{description}}</div>
{{/items}}
{{/menus}}
</div>
    </div>
    </script>

    <footer>
      <p></p>
      <p></p>
    </footer>
  </body>
</html>
