<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="styles/sidenavbar.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="styles/login.css"/>
    <!-- <link rel="stylesheet" type="text/css" media="all" href="styles/export.css"/> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script type="text/javascript" src="scripts/export.js"></script> -->
    <script type="text/javascript" src="scripts/sidenavbar.js"></script>
    <script type="text/javascript" src="scripts/login.js"></script>
  </head>

  <body>
    <div class="unexpanded-sidenav">
      <div class="vertical-text-container">
        <span class="vertical-text">
          EXPAND NAVIGATION
        </span>
      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <div id="top">
        <div id="logoContainer">
          <div id="logo" class="larger">
            <div id="logo-text" class="larger">
              <p>The Warden's</p>
            </div>
            <div id="logo-seal" class="larger"></div>
            <div id="logo-text" class="larger">
              <p>Delight</p>
            </div>
          </div>
        </div>
      </div>

      <div id="bottom">
        <a href="dashboard">Dashboard</a>
        <!--<a href="#">Export</a>-->
        <a href="menu>Edit Menu</a>
        <a href="users">Edit Users</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <div id="main">
      ...
    </div>
  </body>
</html>
